In [1]:
import pandas as pd 
import os

In [2]:
diretorio = '/home/data-ramiro/Documents/bootcamp_pan/BASE_TP/'

In [3]:
lista_arquivos = os.listdir(diretorio)

In [4]:
lista_arquivos

['2020-12-16.csv',
 '2020-12-11.csv',
 '2020-09-14.csv',
 '2020-08-03.csv',
 '2020-04-27.csv',
 '2020-06-06.csv',
 '2020-10-22.csv',
 '2020-03-03.csv',
 '2020-03-02.csv',
 '2020-09-25.csv',
 '2020-07-08.csv',
 '2020-04-05.csv',
 '2020-09-05.csv',
 '2020-05-06.csv',
 '2020-12-20.csv',
 '2020-04-19.csv',
 '2020-10-21.csv',
 '2020-07-09.csv',
 '2020-08-07.csv',
 '2020-03-15.csv',
 '2020-12-24.csv',
 '2020-07-12.csv',
 '2020-12-01.csv',
 '2020-08-23.csv',
 '2020-05-07.csv',
 '2020-09-06.csv',
 '2020-02-09.csv',
 '2020-04-12.csv',
 '2020-02-05.csv',
 '2020-11-20.csv',
 '2020-11-10.csv',
 '2020-02-03.csv',
 '2020-04-15.csv',
 '2020-03-06.csv',
 '2020-04-10.csv',
 '2020-05-05.csv',
 '2020-11-08.csv',
 '2020-09-27.csv',
 '2020-12-18.csv',
 '2020-06-03.csv',
 '2020-05-18.csv',
 '2020-09-19.csv',
 '2020-01-28.csv',
 '2020-04-07.csv',
 '2020-03-29.csv',
 '2020-09-23.csv',
 '2020-09-13.csv',
 '2020-09-07.csv',
 '2020-12-29.csv',
 '2020-06-27.csv',
 '2020-06-14.csv',
 '2020-07-29.csv',
 '2020-02-11.csv',
 '2020-06-13.csv',
 '2020-04-08.csv',
 '2020-12-05.csv',
 '2020-09-26.csv',
 '2020-12-19.csv',
 '2020-04-17.csv',
 '2020-02-01.csv',
 '2020-07-19.csv',
 '2020-08-10.csv',
 '2020-06-30.csv',
 '2020-12-28.csv',
 '2020-04-18.csv',
 '2020-12-17.csv',
 '2020-06-11.csv',
 '2020-07-11.csv',
 '2020-05-12.csv',
 '2020-05-15.csv',
 '2020-01-07.csv',
 '2020-09-08.csv',
 '2020-04-11.csv',
 '2020-01-17.csv',
 '2020-04-25.csv',
 '2020-03-20.csv',
 '2020-04-02.csv',
 '2020-01-10.csv',
 '2020-09-28.csv',
 '2020-08-08.csv',
 '2020-12-08.csv',
 '2020-07-26.csv',
 '2020-06-26.csv',
 '2020-03-04.csv',
 '2020-01-20.csv',
 '2020-12-22.csv',
 '2020-01-05.csv',
 '2020-03-14.csv',
 '2020-11-24.csv',
 '2020-03-31.csv',
 '2020-08-19.csv',
 '2020-07-24.csv',
 '2020-01-06.csv',
 '2020-08-24.csv',
 '2020-05-10.csv',
 '2020-06-12.csv',
 '2020-01-14.csv',
 '2020-05-19.csv',
 '2020-03-18.csv',
 '2020-09-15.csv',
 '2020-05-16.csv',
 '2020-09-10.csv',
 '2020-11-26.csv',
 '2020-10-12.csv',
 '2020-02-26.csv',
 '2020-01-23.csv',
 '2020-08-22.csv',
 '2020-07-04.csv',
 '2020-02-18.csv',
 '2020-12-31.csv',
 '2020-06-22.csv',
 '2020-11-22.csv',
 '2020-06-04.csv',
 '2020-06-09.csv',
 '2020-02-07.csv',
 '2020-03-21.csv',
 '2020-04-09.csv',
 '2020-01-13.csv',
 '2020-06-15.csv',
 '2020-07-03.csv',
 '2020-01-21.csv',
 '2020-01-22.csv',
 '2020-03-13.csv',
 '2020-06-21.csv',
 '2020-01-04.csv',
 '2020-06-07.csv',
 '2020-07-23.csv',
 '2020-11-04.csv',
 '2020-12-30.csv',
 '2020-10-26.csv',
 '2020-08-20.csv',
 '2020-02-21.csv',
 '2020-10-09.csv',
 '2020-02-28.csv',
 '2020-07-25.csv',
 '2020-08-29.csv',
 '2020-05-02.csv',
 '2020-03-24.csv',
 '2020-10-16.csv',
 '2020-06-23.csv',
 '2020-12-14.csv',
 '2020-03-05.csv',
 '2020-04-22.csv',
 '2020-08-09.csv',
 '2020-05-29.csv',
 '2020-10-18.csv',
 '2020-11-05.csv',
 '2020-02-23.csv',
 '2020-05-31.csv',
 '2020-01-24.csv',
 '2020-10-11.csv',
 '2020-06-18.csv',
 '2020-10-20.csv',
 '2020-07-30.csv',
 '2020-09-21.csv',
 '2020-01-19.csv',
 '2020-09-11.csv',
 '2020-10-31.csv',
 '2020-07-13.csv',
 '2020-06-20.csv',
 '2020-03-07.csv',
 '2020-04-30.csv',
 '2020-08-04.csv',
 '2020-02-20.csv',
 '2020-04-14.csv',
 '2020-10-19.csv',
 '2020-12-04.csv',
 '2020-06-24.csv',
 '2020-10-07.csv',
 '2020-02-16.csv',
 '2020-07-02.csv',
 '2020-02-08.csv',
 '2020-12-15.csv',
 '2020-01-25.csv',
 '2020-01-11.csv',
 '2020-01-27.csv',
 '2020-01-29.csv',
 '2020-10-29.csv',
 '2020-09-18.csv',
 '2020-04-23.csv',
 '2020-07-27.csv',
 '2020-06-16.csv',
 '2020-08-30.csv',
 '2020-11-27.csv',
 '2020-05-04.csv',
 '2020-12-25.csv',
 '2020-05-09.csv',
 '2020-02-13.csv',
 '2020-07-05.csv',
 '2020-03-08.csv',
 '2020-06-10.csv',
 '2020-08-15.csv',
 '2020-09-17.csv',
 '2020-08-28.csv',
 '2020-04-20.csv',
 '2020-05-17.csv',
 '2020-12-06.csv',
 '2020-07-18.csv',
 '2020-04-13.csv',
 '2020-03-09.csv',
 '2020-02-04.csv',
 '2020-04-28.csv',
 '2020-01-03.csv',
 '2020-07-21.csv',
 '2020-11-23.csv',
 '2020-09-09.csv',
 '2020-08-18.csv',
 '2020-11-25.csv',
 '2020-10-03.csv',
 '2020-02-24.csv',
 '2020-03-01.csv',
 '2020-02-15.csv',
 '2020-10-30.csv',
 '2020-01-15.csv',
 '2020-11-06.csv',
 '2020-01-02.csv',
 '2020-12-09.csv',
 '2020-03-22.csv',
 '2020-09-22.csv',
 '2020-08-11.csv',
 '2020-03-17.csv',
 '2020-05-21.csv',
 '2020-07-07.csv',
 '2020-07-10.csv',
 '2020-02-27.csv',
 '2020-09-30.csv',
 '2020-04-29.csv',
 '2020-11-14.csv',
 '2020-08-27.csv',
 '2020-03-23.csv',
 '2020-11-17.csv',
 '2020-08-01.csv',
 '2020-05-11.csv',
 '2020-06-29.csv',
 '2020-06-02.csv',
 '2020-12-03.csv',
 '2020-09-20.csv',
 '2020-07-17.csv',
 '2020-08-12.csv',
 '2020-11-09.csv',
 '2020-05-26.csv',
 '2020-08-14.csv',
 '2020-02-14.csv',
 '2020-04-26.csv',
 '2020-12-12.csv',
 '2020-06-25.csv',
 '2020-10-13.csv',
 '2020-05-30.csv',
 '2020-01-12.csv',
 '2020-12-10.csv',
 '2020-03-30.csv',
 '2020-11-01.csv',
 '2020-10-10.csv',
 '2020-11-30.csv',
 '2020-01-31.csv',
 '2020-11-16.csv',
 '2020-10-14.csv',
 '2020-06-08.csv',
 '2020-01-26.csv',
 '2020-01-09.csv',
 '2020-10-17.csv',
 '2020-03-10.csv',
 '2020-10-06.csv',
 '2020-11-18.csv',
 '2020-02-02.csv',
 '2020-03-28.csv',
 '2020-07-20.csv',
 '2020-08-16.csv',
 '2020-03-16.csv',
 '2020-07-01.csv',
 '2020-03-27.csv',
 '2020-05-14.csv',
 '2020-11-02.csv',
 '2020-08-25.csv',
 '2020-04-01.csv',
 '2020-07-22.csv',
 '2020-10-24.csv',
 '2020-01-01.csv',
 '2020-02-25.csv',
 '2020-11-28.csv',
 '2020-08-31.csv',
 '2020-03-19.csv',
 '2020-03-12.csv',
 '2020-03-26.csv',
 '2020-11-13.csv',
 '2020-02-12.csv',
 '2020-02-29.csv',
 '2020-11-12.csv',
 '2020-04-04.csv',
 '2020-05-22.csv',
 '2020-06-19.csv',
 '2020-09-02.csv',
 '2020-05-25.csv',
 '2020-12-27.csv',
 '2020-01-30.csv',
 '2020-10-25.csv',
 '2020-05-20.csv',
 '2020-05-28.csv',
 '2020-10-02.csv',
 '2020-07-15.csv',
 '2020-05-08.csv',
 '2020-08-05.csv',
 '2020-09-04.csv',
 '2020-10-04.csv',
 '2020-09-16.csv',
 '2020-09-24.csv',
 '2020-01-18.csv',
 '2020-02-19.csv',
 '2020-11-07.csv',
 '2020-09-29.csv',
 '2020-12-23.csv',
 '2020-09-01.csv',
 '2020-08-02.csv',
 '2020-10-15.csv',
 '2020-01-08.csv',
 '2020-11-21.csv',
 '2020-02-10.csv',
 '2020-12-21.csv',
 '2020-12-26.csv',
 '2020-09-03.csv',
 '2020-07-16.csv',
 '2020-02-06.csv',
 '2020-04-16.csv',
 '2020-01-16.csv',
 '2020-05-03.csv',
 '2020-08-13.csv',
 '2020-08-21.csv',
 '2020-04-21.csv',
 '2020-08-26.csv',
 '2020-05-27.csv',
 '2020-10-08.csv',
 '2020-11-19.csv',
 '2020-08-06.csv',
 '2020-03-11.csv',
 '2020-06-05.csv',
 '2020-07-06.csv',
 '2020-05-24.csv',
 '2020-07-14.csv',
 '2020-10-05.csv',
 '2020-07-31.csv',
 '2020-06-01.csv',
 '2020-05-23.csv',
 '2020-04-06.csv',
 '2020-12-13.csv',
 '2020-08-17.csv',
 '2020-10-23.csv',
 '2020-12-02.csv',
 '2020-06-28.csv',
 '2020-06-17.csv',
 '2020-02-17.csv',
 '2020-11-15.csv',
 '2020-03-25.csv',
 '2020-02-22.csv',
 '2020-09-12.csv',
 '2020-12-07.csv',
 '2020-11-03.csv',
 '2020-07-28.csv',
 '2020-11-11.csv',
 '2020-10-28.csv',
 '2020-11-29.csv',
 '2020-05-01.csv',
 '2020-04-03.csv',
 '2020-10-27.csv']

In [5]:
lista_df = []
for arquivo in lista_arquivos:
    caminho_completo = os.path.join(diretorio, arquivo)
    df = pd.read_csv(caminho_completo, sep="|", encoding='latin-1')
    lista_df.append(df)

In [6]:
df_total = pd.concat(lista_df)
df_total

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10142463,2020-12-16,Masculino,1989-05-17,peixe,frio,Cerveja,Praticar esporte
1,10143145,2020-12-16,Masculino,1964-07-16,tartaruga,moderado,Água,Escrever
2,10143246,2020-12-16,Masculino,1978-03-14,gato,quente,Cerveja,Pintar quadros
0,10141672,2020-12-11,Feminino,1951-01-20,cachorro,moderado,Cerveja,Dormir
1,10142294,2020-12-11,Masculino,1982-12-01,tartaruga,frio,Chá,Aprender algo novo
...,...,...,...,...,...,...,...,...
1,10142283,2020-10-27,Masculino,1997-01-14,gato,quente,Chá,Ler livros
2,10142524,2020-10-27,Masculino,1962-08-25,tartaruga,quente,Café,Ler livros
3,10142743,2020-10-27,Masculino,1988-07-21,gato,frio,Água,Dormir
4,10142910,2020-10-27,Masculino,1994-07-29,gato,quente,Cerveja,Ler livros
5,10143054,2020-10-27,Masculino,1981-03-26,gato,frio,Café,Praticar esporte

In [7]:
df_pesquisa = df_total
df_pessoa = df_total[['cod_pessoa', 'genero', 'data_nascimento']].drop_duplicates()
df_animal_estimacao = df_total[['animal_estimacao']].drop_duplicates()
df_clima = df_total[['clima']].drop_duplicates()
df_bebida_favorita = df_total[['bebida_favorita']].drop_duplicates()
df_hobbies = df_total[['hobbies']].drop_duplicates()

In [8]:
import MySQLdb
import sqlalchemy

In [ ]:
user = 'root'
password = '******'
host = '127.0.0.1'
database = 'pesquisa'

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao

In [14]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [15]:
df_pessoa.itertuples()

In [20]:
for pessoa in df_pessoa.itertuples():
    codP = pessoa.cod_pessoa
    gen = pessoa.genero
    dtn = pessoa.data_nascimento
    
    try:
        sql = f"""INSERT INTO pessoa (cod_pessoa, genero, data_nascimento) VALUES
                                     ('{codP}', '{gen}', '{dtn}')"""
        
        #print(sql)
        
        conn.execute(sql)
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {codP}. O erro foi: {e}')

In [21]:
df_animal_estimacao.itertuples()

In [23]:
for animal in df_animal_estimacao.itertuples():
    anima = animal.animal_estimacao
    
    try:
        sql = f"""INSERT INTO animal_estimacao (animal) VALUES
                                               ('{anima}')"""
        
        #print(sql)
        
        conn.execute(sql)
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {anima}. O erro foi: {e}')

In [24]:
df_clima.itertuples()

In [25]:
for clima in df_clima.itertuples():
    cli = clima.clima
    
    try:
        sql = f"""INSERT INTO clima (clima) VALUES
                                    ('{cli}')"""
        
        #print(sql)
        
        conn.execute(sql)
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {cli}. O erro foi: {e}')

In [27]:
for bebida in df_bebida_favorita.itertuples():
    bebi = bebida.bebida_favorita
    
    try:
        sql = f"""INSERT INTO bebida (bebida) VALUES
                                               ('{bebi}')"""
        
        #print(sql)
        
        conn.execute(sql)
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {bebi}. O erro foi: {e}')

In [29]:
for hobbie in df_hobbies.itertuples():
    hob = hobbie.hobbies
    
    try:
        sql = f"""INSERT INTO hobbie (hobbie) VALUES
                                     ('{hob}')"""
        
        #print(sql)
        
        conn.execute(sql)
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {hob}. O erro foi: {e}')

In [35]:
df_animal_estimacao = pd.read_sql('animal_estimacao', conn)
df_clima = pd.read_sql('clima', conn)
df_bebida_favorita = pd.read_sql('bebida', conn)
df_hobbies = pd.read_sql('hobbie', conn)
#df_animal_estimacao
#df_clima
#df_bebida_favorita
#df_hobbies

In [36]:
dict_a = df_animal_estimacao.set_index(df_animal_estimacao.animal)['cod_animal_estimacao'].to_dict()
dict_c = df_clima.set_index(df_clima.clima)['cod_clima'].to_dict()
dict_b = df_bebida_favorita.set_index(df_bebida_favorita.bebida)['cod_bebida'].to_dict()
dict_h = df_hobbies.set_index(df_hobbies.hobbie)['cod_hobbie'].to_dict()
#dict_a
#dict_c
#dict_b
#dict_h

In [37]:
df_pesquisa.animal_estimacao = df_pesquisa.animal_estimacao.map(dict_a)
df_pesquisa.clima = df_pesquisa.clima.map(dict_c)
df_pesquisa.bebida_favorita = df_pesquisa.bebida_favorita.map(dict_b)
df_pesquisa.hobbies = df_pesquisa.hobbies.map(dict_h)
df_pesquisa

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10142463,2020-12-16,Masculino,1989-05-17,1,1,1,1
1,10143145,2020-12-16,Masculino,1964-07-16,2,2,2,2
2,10143246,2020-12-16,Masculino,1978-03-14,3,3,1,3
0,10141672,2020-12-11,Feminino,1951-01-20,4,2,1,4
1,10142294,2020-12-11,Masculino,1982-12-01,2,1,3,5
...,...,...,...,...,...,...,...,...
1,10142283,2020-10-27,Masculino,1997-01-14,3,3,3,8
2,10142524,2020-10-27,Masculino,1962-08-25,2,3,4,8
3,10142743,2020-10-27,Masculino,1988-07-21,3,1,2,4
4,10142910,2020-10-27,Masculino,1994-07-29,3,3,1,8
5,10143054,2020-10-27,Masculino,1981-03-26,3,1,4,1

In [43]:
for pesquisa in df_pesquisa.itertuples():
    codP = pesquisa.cod_pessoa
    dtcol = pesquisa.data_coleta
    codA = pesquisa.animal_estimacao
    codC = pesquisa.clima
    codB = pesquisa.bebida_favorita
    codH = pesquisa.hobbies
    
    try:
        sql = f"""INSERT INTO pesquisa  (data_coleta, cod_pessoa, cod_animal_estimacao, cod_bebida, cod_hobbie, cod_clima) VALUES
                                        ('{dtcol}', '{codP}', '{codA}', '{codB}', '{codH}', '{codC}')"""
        
        #print(sql)
        
        conn.execute(sql)
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {dtcol}. O erro foi: {e}')